%h2 Members list

- unless @members.empty?
  %table
    %thead
      %tr
        %th Login
        %th Firstname
        %th Lastname
        %th Function

    %tbody
      - for member in @members
        %tr
          %td= member.login
          %td= member.firstname
          %td= member.lastname
          %td= member.function.name
          %td= link_to 'Show', url(:member, member), :title => "Show details"
          - if admin? || session.user.id == member.id
            %td= link_to 'Edit', url(:edit_member,  member), :title => "Edit this member" 
            %td= link_to 'Delete', resource(member, :delete), :title => "Delete this member" 
- else
  %p There are no members, you have to create one first.

%p= link_to 'New', url(:new_member), :title => "Add a member" if admin?
