%h2= "Member #{@member.full_name}"

%ul
  - for field  in %w(login firstname lastname email birthdate occupation address city phone_number website)  
    - if @setting.field_show[field]
      %li== #{field.capitalize.gsub('_', ' ')}: #{@member.send(field.to_sym)}
  %li== Function: #{@member.function.name}
  %li== Subscription date: #{@member.subscription_on}
  


%p
  = link_to 'Edit',  url(:edit_member,  @member) if admin? 
  |
  = link_to 'Back', url(:members), :title => "Go back to members list"
